.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}

.singleRecipe {
  border: 2px solid rgb(7, 7, 7);
  box-shadow: 10px 8px #6d6c6c;
  padding: 10px 50px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  align-items: center;
  justify-content: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(76, 147, 228);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  padding: 0px 50px;
  width: 200px;
}

.ingredients {
  text-align: left;
  padding: 200px;
}
